<article id="<%= post.layout %>-<%= post.slug %>"
  class="post article white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
  <section class="post-header article-header">
    <h2 class="title">
        <a href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </h2>
      <div class="subtitle">
          <time>
            <%= date(post.date, 'MMM D, YYYY') %>
          </time>
          <% if (post.tags && post.tags.length) { %>
            <span class="tags">
                <span class="iconfont icon-tag"></span>
                <%- list_tags(post.tags, {
                  show_count: false,
                  style: 'none',
                  separator: ' / '
                }) %>
              </span>
          <% } %>
      </div>
  </section>
  <section class="content">
    <div class="article-entry" itemprop="articleBody">
      <%- post.content %>
    </div>
  </section>

  <div id="disqus_thread"></div>
  <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ggice.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>