<article id="<%= post.layout %>-<%= post.slug %>"
  class="post article white-box article-type-<%= post.layout %> animated fade-in-top"
  itemscope itemprop="blogPost">
  <section class="post-header article-header">
    <h2 class="title">
        <a href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </h2>
      <div class="subtitle">
          <time>
            <%= date(post.date, 'MMM D, YYYY') %>
          </time>
          <% if (post.tags && post.tags.length) { %>
            <span class="tags">
                <span class="iconfont icon-tag"></span>
                <%- list_tags(post.tags, {
                  show_count: false,
                  style: 'none',
                  separator: ' / '
                }) %>
              </span>
          <% } %>
      </div>
  </section>
  <section class="content">
    <div class="article-entry" itemprop="articleBody">
      <%- post.content %>
    </div>
  </section>

  <% if (post.comments && config.disqus){ %>
    <section id="comments">
      <div id="disqus_thread"></div>
    </section>
  <% } %>
  <% if (post.comments && config.gitalk){ %>    
    <section id="gitalk-container">
    </section>
  <% } %>
</article>