<article class="post <%= (post.title) ? " " : "no-title " %> animated fade-in-top">

  <section class="post-header">
    <% if (post.title) { %>
      <h2 class="title">
        <a href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </h2>
      <% } %>
      <div class="subtitle">
          <time>
            <%= date(post.date, 'MMM D, YYYY') %>
          </time>
          <% if (post.tags && post.tags.length) { %>
            <span class="tags">
                 <span class="iconfont icon-tag"></span>
                 <%- list_tags(post.tags, {
                  show_count: false,
                  style: 'none',
                  separator: ' / '
                }) %>
              </span>
          <% } %>
      </div>
  </section>
  <section class="content">
    <%- post.excerpt || truncate(strip_html(post.content), {length: 123}) %>

    <div class="readmore">
      <a href="<%- url_for(post.path) %>" class="iconfont icon-more">Read More</a>
    </div>

  </section>
</article>